body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.image-container {
  overflow: hidden;
  transition: transform 0.3s;
}

.zoomable-image {
  width: 300px;
  height: 200px;
  transition: transform 0.3s;
}

.zoomable-image:hover {
  transform: scale(1.1);
}