@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
background-color: rgb(163, 202, 202);
}
h1{
    font-family: 'Dancing Script', cursive;
    margin: auto;
    padding: auto; 
    font-weight: bolder;
    /*font-style, font-weight, font-size, font-family*/
}
h2{
    font-family: 'Dancing Script', cursive;
}
p{
    font-family: 'Inter', sans-serif;
}